@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url("../fonts/toadOcfmlt9b38dHJxOBGCD5K6T8I4oZ1X3Xvlj_UeP3rGVtsTkPsbDajuO5ueQw.woff2") format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url("../fonts/toadOcfmlt9b38dHJxOBGDOFnJNygIkrHciC8BWzbCz3rGVtsTkPsbDajuO5ueQw.woff2") format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url("../fonts/toadOcfmlt9b38dHJxOBGCP2LEk6lMzYsRqr3dHFImA.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url("../fonts/toadOcfmlt9b38dHJxOBGMZXFz2iDKd7GJNSaxRYiSj3rGVtsTkPsbDajuO5ueQw.woff2") format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url("../fonts/toadOcfmlt9b38dHJxOBGKyGJhAh-RE0BxGcd_izyev3rGVtsTkPsbDajuO5ueQw.woff2") format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url("../fonts/toadOcfmlt9b38dHJxOBGMzFoXZ-Kj537nB_-9jJhlA.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'), url("../fonts/fpTVHK8qsXbIeTHTrnQH6B_gmbEOuTnFVLOcZ03JXzUU24FapfJwyacJ6xNu5rm9.woff2") format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'), url("../fonts/fpTVHK8qsXbIeTHTrnQH6I592LlB3Spcld5cOzjZxycU24FapfJwyacJ6xNu5rm9.woff2") format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'), url("../fonts/fpTVHK8qsXbIeTHTrnQH6KWfmYpLTwMIZXVESxMi2BP3rGVtsTkPsbDajuO5ueQw.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
.back-to-top {
  position: fixed;
  bottom: 19px;
  right: 50px;
  z-index: 1050;
  width: 25px;
  height: 23px;
  padding: 5px;
  background: #222;
  color: #fff;
  cursor: pointer;
  -webkit-transform: translateZ(0);
}
@media (max-width: 767px) {
  .back-to-top {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .back-to-top {
    display: none;
  }
}
.back-to-top:before {
  display: block;
  content: " ";
  margin-top: 2px;
  width: 0;
  height: 0;
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent #fff transparent;
  border-style: solid;
}
@media (max-width: 767px) {
  .posts-collapse {
    margin: 0 20px;
  }
  .posts-collapse .post-title,
  .posts-collapse .post-meta {
    display: block;
    width: auto;
    text-align: left;
  }
}
.posts-collapse {
  position: relative;
  margin-left: 55px;
}
.posts-collapse::after {
  top: 20px;
  left: 0;
  margin-left: -2px;
  width: 4px;
  height: 100%;
  background: #f5f5f5;
  z-index: -1;
}
.posts-collapse .archive-move-on {
  position: absolute;
  top: 11px;
  left: 0;
  margin-left: -6px;
  width: 10px;
  height: 10px;
  opacity: 0.5;
  background: $black-light;
  border: 1px solid #fff;
  border-radius: 50%;
}
.posts-collapse::before,
.posts-collapse::after {
  content: " ";
  position: absolute;
}
.posts-collapse .collection-title {
  position: relative;
  margin: 50px 0;
}
.posts-collapse .collection-title h2 {
  margin-left: 20px;
}
.posts-collapse .collection-title small {
  color: #bbb;
}
.posts-collapse .collection-title::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
  width: 8px;
  height: 8px;
  background: #bbb;
  border-radius: 50%;
}
.posts-collapse .post {
  margin: 30px 0;
}
.posts-collapse .post-header {
  position: relative;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: border;
  border-bottom: 1px dashed #ccc;
}
.posts-collapse .post-header::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 12px;
  width: 6px;
  height: 6px;
  margin-left: -4px;
  background: #bbb;
  border-radius: 50%;
  border: 1px solid #fff;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  transition-property: background;
}
.posts-collapse .post-header:hover {
  border-bottom-color: #666;
}
.posts-collapse .post-header:hover::before {
  background: #222;
}
.posts-collapse .post-meta {
  position: absolute;
  font-size: 12px;
  left: 20px;
  top: 5px;
}
.posts-collapse .post-comments-count {
  display: none;
}
.posts-collapse .post-title {
  margin-left: 60px;
  font-size: 16px;
  font-weight: 700;
  line-height: inherit;
}
.posts-collapse .post-title::after {
  margin-left: 3px;
  opacity: 0.6;
}
.posts-collapse .post-title a {
  color: #666;
  border-bottom: none;
}
.pln {
  color: #000;
}
@media screen {
  .str {
    color: #080;
  }
  .kwd {
    color: #008;
  }
  .com {
    color: #800;
  }
  .typ {
    color: #606;
  }
  .lit {
    color: #066;
  }
  .pun,
  .opn,
  .clo {
    color: #660;
  }
  .tag {
    color: #008;
  }
  .atn {
    color: #606;
  }
  .atv {
    color: #080;
  }
  .dec,
  .var {
    color: #606;
  }
  .fun {
    color: #f00;
  }
}
@media print, projection {
  .str {
    color: #060;
  }
  .kwd {
    color: #006;
/*font-weight:bold*/
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #044;
  }
  .pun,
  .opn,
  .clo {
    color: #440;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #404;
  }
  .atv {
    color: #060;
  }
}
pre.prettyprint {
  padding: 2px;
  border: 1px solid #888;
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}
pre.prettyprint {
  font-family: Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;
  font-size: 12px;
  display: block;
  background-color: #042029;
  border-radius: 5px;
}
pre .nocode {
  background-color: none;
  color: #000;
}
pre .str {
  color: #e6db6e;
}
pre .kwd {
  color: #66d9ef;
/*font-weight: bold*/
}
pre .com {
  color: #75715c;
  font-style: italic;
}
pre .typ {
  color: #a6e22e;
}
pre .lit {
  color: #f22672;
}
pre .pun {
  color: #fff;
}
pre .pln {
  color: #fff;
}
pre .tag {
  color: #f8f8f2;
}
pre .atn {
  color: #a6e22e;
  font-weight: bold;
}
pre .atv {
  color: #ffa0a0;
}
pre .dec {
  color: #ae81fc;
}
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #aeaeae;
  padding-left: 34px;
}
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 {
  list-style-type: none;
}
.prettyprint.linenums ol li,
pre.prettyprint.linenums ol li {
  color: #bebec5;
  list-style: decimal-leading-zero;
  line-height: 20px;
}
.prettyprint.linenums,
pre.prettyprint.linenums {
  -webkit-box-shadow: inset 0px 0 0 #39382e, inset 29px 0 0 #464741;
  -moz-box-shadow: inset 0px 0 0 #39382e, inset 29px 0 0 #464741;
  box-shadow: inset 0px 0 0 #39382e, inset 29px 0 0 #464741;
}
@media print {
  pre.prettyprint {
    background-color: none;
  }
  pre .str,
  code .str {
    color: #060;
  }
  pre .kwd,
  code .kwd {
    color: #006;
    font-weight: bold;
  }
  pre .com,
  code .com {
    color: #600;
    font-style: italic;
  }
  pre .typ,
  code .typ {
    color: #404;
    font-weight: bold;
  }
  pre .lit,
  code .lit {
    color: #044;
  }
  pre .pun,
  code .pun {
    color: #440;
  }
  pre .pln,
  code .pln {
    color: #000;
  }
  pre .tag,
  code .tag {
    color: #006;
    font-weight: bold;
  }
  pre .atn,
  code .atn {
    color: #404;
  }
  pre .atv,
  code .atv {
    color: #060;
  }
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}
@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
}
body {
  color: #515151;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a {
  color: #268bd2;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.1;
  color: #333;
  letter-spacing: -0.025rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
}
h3 {
  font-size: 1.3rem;
}
h4,
h5,
h6 {
  font-size: 1rem;
}
p {
  margin: 0 0 1rem;
}
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 0.5rem;
}
ul {
  list-style: inside circle;
  padding-left: 0;
}
ul li {
  margin-bottom: 0.25rem;
}
ul ul,
ul ol {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
ol {
  list-style: inside decimal;
}
ol li {
  margin-bottom: 0.25rem;
}
ol ul,
ol ol {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}
p+h1,
p+h2,
p+h3,
ul+h1,
ul+h2,
ul+h3,
ol+h1,
ol+h2,
ol+h3 {
  margin-top: 1.5rem;
}
hr {
  border: 0;
  border-top: 0.5px solid #eee;
  border-bottom: 0.5px solid #eee;
  margin: 1.5rem auto;
}
strong {
  color: #333;
  font-weight: 600;
}
abbr {
  font-size: 85%;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #e5e5e5;
}
blockquote {
  padding: 0 0 0 1.5rem;
  margin: 0 2rem 1rem 0;
  color: #999;
  border-left: 0.5rem solid #e5e5e5;
}
blockquote p:last-child {
  margin-bottom: 0;
}
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: 0.25em 0.5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  background-color: #f9f9f9;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}
.gist .gist-file {
  font-family: Menlo, Monaco, "Courier New", monospace !important;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: 0.8rem !important;
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}
img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
}
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: 0.25rem 0.5rem;
  border: 1px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}
.lead {
  font-size: 1.25rem;
}
.container {
  max-width: 38rem;
  padding: 2rem 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 38rem) {
  .container {
    padding: 5rem 1rem;
  }
}
.masthead-title {
  font-weight: 300;
}
.masthead-title a {
  color: #333;
}
.masthead-title a:hover,
.masthead-title a:focus {
  text-decoration: none;
}
.masthead-title span {
  color: #ddd;
}
.masthead-title--small {
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}
.masthead-title--small a {
  color: #333;
}
.masthead-title--small a:hover,
.masthead-title--small a:focus {
  text-decoration: none;
}
.masthead .masthead-nav {
  margin-bottom: 2rem;
}
.masthead .masthead-nav a {
  color: #aaa;
  font-weight: 300;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.masthead .masthead-nav a:hover,
.masthead .masthead-nav a:focus {
  color: #333;
  text-decoration: none;
}
.masthead .masthead-nav a+a {
  margin-left: 0.25rem;
}
.page-title {
  margin-bottom: 2rem;
}
.post-title {
  margin-bottom: 0.25rem;
}
.post-date {
  margin-bottom: 2rem;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.list-post-title {
  margin-bottom: 0.25rem;
}
.list-post-title a {
  color: #333;
}
.list-post-title a:hover,
.list-post-title a:focus {
  text-decoration: none;
}
.list-post-date {
  margin-bottom: 2rem;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.projects-list a {
  color: #333;
}
.post {
  opacity: 0;
}
