.archives {
  position: relative;
}
.archives:last-of-type:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 200px;
  border-top: 1px solid color-gray04;
}
.archives .year {
  line-height: 35px;
  width: 200px;
  position: absolute;
  top: 0;
  padding-top: 15px;
}
.archives .year:before {
  content: "";
  position: absolute;
  top: -2px;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .archives .year {
    position: relative;
    width: 100%;
  }
}
.archives article {
  margin-left: 200px;
  padding: 15px 0;
}
@media screen and (max-width: 600px) {
  .archives article {
    margin-left: 0;
  }
  .archives article:first-of-type {
    border-top: none;
    padding-top: 30px;
  }
}
.archives article .title {
  margin-bottom: 0;
}
.archives article .meta {
  color: color-gray02;
  font-size: 0.9em;
  line-height: 2;
  margin-top: 15px;
}
@media screen and (max-width: 600px) {
  .archives article .meta {
    display: none;
  }
}
.archives article .meta span {
  margin-right: 30px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.archives article .meta span:before {
  color: color-gray03;
  font: 1.3em font-icon;
  padding-right: 10px;
}
.archives article .meta a {
  color: color-gray02;
}
.archives article .meta a:hover {
  color: color-gray01;
}
.archives article .meta .date:before {
  content: "\f073";
}
.archives article .meta .tags:before {
  content: "\f02c";
}
.archives article .meta .comments:before {
  content: "\f075";
  padding-right: 10px;
}
