@font-face {
  font-family: 'Nunito';
  font-weight: normal;
  font-style: normal;
  src: url('../font/nunito-light-webfont.eot');
  src: url('../font/nunito-light-webfont.eot?#iefix') format('embedded-opentype'), url('../font/nunito-light-webfont.woff') format('woff'), url('../font/nunito-light-webfont.ttf') format('truetype');
}
html {
  font-size: 62.5%;
  /*background:#fff;*/
  background: #f5f5f5;
  -webkit-font-smoothing: antialiased;
}
body {
  font-size: 1.35rem;
  font-family: 'Nunito', sans-serif;
}
.more-link {
  color: #4183c5;
  display: inline-block;
  margin-top: 16px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.more-link:hover {
  background: #efefef;
  color: #777;
}
.date i {
  margin-right: 7px;
}
.logo {
  padding: 10px;
}
.logo img {
  width: 57px;
  height: 57px;
  border-radius: 50px;
  box-shadow: 2px 2px 5px #000;
  margin: 0 12px 0 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.logo .tit-author {
  color: #fff;
  margin: 0 0 3px;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.logo .role-author {
  font-size: 1.2rem;
  color: #bdc9cc;
}
.logo:hover img {
  border-radius: 0;
}
.logo:hover .tit-author {
  text-shadow: 0 0 1px #fff;
}
#footer {
  text-align: center;
  margin: 0 auto;
  width: auto;
  padding: 15px 0;
  font-size: 1.3rem;
}
.menu a {
  height: 115px;
  font-size: 1.4rem;
  color: #bdc9cc;
  text-transform: uppercase;
  padding: 0 0 0 62px;
  line-height: 117px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.menu a i {
  vertical-align: middle;
  margin-right: 10px;
}
.menu li:nth-child(1) a:hover {
  background-color: #333;
}
.menu li:nth-child(1) a:hover i {
  color: #4183c5;
}
.menu li:nth-child(2) a:hover {
  background-color: #333;
}
.menu li:nth-child(2) a:hover i {
  color: #4183c5;
}
.home .ui-copy p {
  margin-top: 15px;
}
.ui-copy {
  width: 95%;
}
.ui-copy a {
  /*color:#ee473f;*/
  color: #4183c5;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.ui-copy a:hover {
  background: #efefef;
  color: #777;
}
.ui-copy ul {
  margin: 0 0 20px 0;
}
.ui-copy li {
  list-style: circle;
  margin: 5px 0 5px 20px;
}
.ui-copy h2 {
  font-size: 2.5rem;
  margin: 20px 0 10px 0;
}
.ui-copy h3 {
  font-size: 2.0rem;
  margin: 15px 0 5px 0;
}
.ui-copy p {
  margin: 0 0 25px 0;
}
.ui-copy p:first-child,
.ui-copy h2:first-child {
  margin-top: 25px;
}
